#Gapminder Project

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

In [9]:
df = pd.read_excel(".\Data\gapminder_lifeexpectancy.xlsx", index_col=0)
df.head()

,1800.0,1801.0,1802.0,1803.0,1804.0,1805.0,1806.0,1807.0,1808.0,1809.0,...,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0
Life expectancy,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,28.13,28.12,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,76.6,76.8,77.0,77.2,77.4,77.5,77.7,77.9,78.0,78.10
Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,75.3,75.5,75.7,76.0,76.1,76.2,76.3,76.3,76.4,76.50

In [10]:
df.isna().sum()

1800.0    59
1801.0    59
1802.0    59
1803.0    59
1804.0    59
          ..
2012.0    52
2013.0    52
2014.0    52
2015.0    52
2016.0    52
Length: 217, dtype: int64

In [11]:
df.dropna(inplace=True)

In [25]:
df.isna().sum()

1800.0    0
1801.0    0
1802.0    0
1803.0    0
1804.0    0
         ..
2012.0    0
2013.0    0
2014.0    0
2015.0    0
2016.0    0
Length: 217, dtype: int64

In [15]:
df_T = df.describe().T

In [17]:
df_T['mean'].mean()

42.486805144782984

In [28]:
df_1960 = df[1960]

In [29]:
df_1960.mean()

54.653184079602006

In [30]:
df_1960.median()

56.09

In [32]:
df_1960.std()

11.66376152066499

In [49]:
quanti_90 = df_1960.quantile([0.9])
quanti_90

0.9    69.59
Name: 1960.0, dtype: float64

In [63]:
type(quanti_90.values[0])

numpy.float64

In [66]:
outlier_max = df_1960.where(df_1960 > quanti_90.values[0]).dropna()
outlier_max

Life expectancy
Australia          70.87
Belarus            71.59
Canada             71.00
Cyprus             69.72
Czech Republic     70.58
Denmark            72.28
France             70.49
Iceland            74.22
Ireland            70.76
Latvia             70.37
Lithuania          70.33
Netherlands        73.35
New Zealand        71.28
Norway             73.66
Slovak Republic    70.42
Sweden             73.01
Switzerland        71.46
Ukraine            70.88
United Kingdom     71.02
United States      69.91
Name: 1960.0, dtype: float64

In [44]:
maxi = df_1960.max()
maxi

74.22

In [42]:
mini = df_1960.min()
mini

29.61

In [67]:
range = maxi - mini
range

44.61

In [37]:
number_of_observations = df.shape[0]

number_of_observations

201

In [38]:
df.describe()

,1800.0,1801.0,1802.0,1803.0,1804.0,1805.0,1806.0,1807.0,1808.0,1809.0,...,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,...,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,31.486020,31.448905,31.463483,31.377413,31.446318,31.562537,31.615970,31.573134,31.376766,31.310448,...,69.952139,70.264876,70.601194,70.800199,71.166269,71.514577,71.774776,71.950050,72.187861,72.428507
std,3.763585,3.755739,3.878204,3.901966,3.877156,3.947957,4.039261,3.917339,4.017228,3.972970,...,8.989729,8.836546,8.647311,8.946296,8.414504,8.255997,8.161011,8.116259,7.941638,7.776782
min,23.390000,23.390000,23.390000,19.600000,23.390000,23.390000,23.390000,23.390000,12.480000,13.430000,...,43.300000,44.500000,45.500000,32.200000,46.700000,46.100000,45.600000,45.400000,47.100000,48.860000
25%,29.000000,28.950000,28.900000,28.900000,28.950000,29.000000,29.000000,29.000000,28.950000,28.820000,...,64.400000,64.700000,65.000000,65.200000,65.300000,65.900000,66.200000,66.600000,66.800000,67.100000
50%,31.800000,31.700000,31.600000,31.500000,31.600000,31.700000,31.800000,31.800000,31.600000,31.500000,...,72.600000,72.900000,73.300000,73.600000,73.700000,74.000000,74.100000,74.300000,74.400000,74.500000
75%,33.900000,33.900000,33.900000,33.800000,33.870000,33.900000,34.000000,34.000000,33.870000,33.800000,...,76.900000,77.100000,77.300000,77.500000,77.400000,78.000000,78.000000,78.200000,78.500000,78.600000
max,42.850000,40.300000,44.370000,44.840000,42.830000,44.270000,45.820000,43.560000,43.550000,41.740000,...,82.400000,82.500000,82.700000,82.840000,83.020000,83.200000,83.380000,83.560000,83.730000,83.900000