# Recap: pandas Basics

Insert one-liners to solve all 10 tasks

In [67]:
import pandas as pd

### read the CSV file `gapminder_total_fertility.csv`

In [68]:
fert = pd.read_csv(".\data\gapminder_total_fertility.csv", index_col=0)

### write the file to an Excel spreadsheet

In [69]:
fert.to_excel('.\data\gapmindertotal_fertility.xlsx')

### read the spreadsheet again

In [70]:
fert = pd.read_excel(".\data\gapmindertotal_fertility.xlsx", index_col=0)
fert

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Total fertility rate,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,6.70,6.46,6.20,5.93,5.66,5.40,5.14,4.90,4.68,4.47
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.85,1.80,1.76,1.74,1.74,1.75,1.76,1.77,1.78,1.78
Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.58,2.66,2.73,2.78,2.82,2.83,2.82,2.80,2.76,2.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,...,5.93,5.91,5.88,5.85,5.81,5.77,5.73,5.69,5.64,5.59
Zimbabwe,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,...,3.94,3.90,3.85,3.79,3.72,3.64,3.56,3.49,3.41,3.35
Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### select all data for the year 2010

In [71]:
fert_2010= fert['2010']

### select the 10 most fertile countries in 2010

In [72]:
fert_2010.dropna(inplace=True)
fert_2010.sort_values().tail(10)

Total fertility rate
Nigeria             6.02
Uganda              6.16
Angola              6.22
Timor-Leste         6.24
Congo, Dem. Rep.    6.25
Burundi             6.30
Chad                6.60
Mali                6.84
Somalia             6.87
Niger               7.58
Name: 2010, dtype: float64

### select countries below 2.0 in 2010

In [73]:
fert_2010[fert_2010<2.0]

Total fertility rate
Albania                 1.74
Armenia                 1.55
Aruba                   1.70
Australia               1.89
Austria                 1.44
                        ...
Ukraine                 1.44
United Arab Emirates    1.87
United Kingdom          1.90
United States           1.93
Vietnam                 1.82
Name: 2010, Length: 70, dtype: float64

### calculate the mean and standard deviation for each year

In [74]:
mean_year= fert.mean()
sdt_year = fert.std()

### extract the first character as a separate column

In [75]:
fert.columns

Index(['1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808',
       '1809',
       ...
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015'],
      dtype='object', length=216)

In [76]:
fert.reset_index(inplace=True)

In [77]:
#fert.dropna(inplace=True)
df_letter = fert['Total fertility rate'].apply(lambda s:s[0])

### count the number of countries for each first character

In [78]:
df_letter.value_counts()

S    36
C    24
M    23
B    19
N    18
A    16
G    16
T    15
P    11
L     9
U     9
I     9
E     9
F     7
K     6
H     5
J     4
R     4
D     4
W     4
V     4
Y     2
Z     2
Å     2
O     1
Q     1
Name: Total fertility rate, dtype: int64